<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Tasks</a>
      <a class="navbar-brand" href="/users">Account</a>
    </div>
  </nav>
  <%- include('header') %>
  <%- body %>
  <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.2/bootstrap.min.js"></script>
</body>
</html>
