<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../public/stylesheets/waggStyle.css">

    <head>
        <meta 
            charset="UTF-8"/>
        <title>
            Wagg.ly
        </title>
        <meta 
            name="description" 
            content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <div class="navbar">
            <li><a href="/users">Signup</a></li>    
            <li><a href="/owners">Find Dogs</a></li>
            <li><a href="/walkers">Find Walkers</a></li>    
          </div>

        <h1>Wagg.ly LoginPage</h1>
        <div class="main">
            <p>
                If you are a dog owner, and looking to find a walker.... you've come to the right place!. Sign up here!!! 
                If you are a dog walker and want to make a little bit of money.......congrats! We can find you dogs to walk here!
                If i write a really really really really long sentance, i wonder where it stops on the page. 
                Will it continue in to the contain or only stop half way across, really i need it to stop 3/4 of the was across. 
                <br>
                <form action="/addWalker" method="post" id="signupForm">
                    <div>
                        <label for="userName"><b>Username</b></label>
                        <br>
                        <input type="text" placeholder="Enter Username" name="userName" required>
                        <br>
                        <label for="email"><b>Email</b></label>
                        <br>
                        <input type="email" placeholder="Enter Email" name="email" required>
                        <br>
                        <label for="postcode"><b>Postcode</b></label>
                        <br>
                        <input type="postcode" placeholder="Enter Postcode" name="postcode" required>
                        <br>
                        <button type="submit">Sign Up</button>
                    </div>
                </form>

                <br>
                If you are a dog owner, and looking to find a walker.... you've come to the right place!. Sign up here!!!
                <br>

                <form action="/addOwner" method="post" id="signupForm">
                    <div>
                        <label for="userName"><b>Username</b></label>
                        <br>
                        <input type="text" placeholder="Enter Username" name="userName" required>
                        <br>
                        <label for="email"><b>Email</b></label>
                        <br>
                        <input type="email" placeholder="Enter Email" name="email" required>
                        <br>
                        <label for="postcode"><b>Postcode</b></label>
                        <br>
                        <input type="postcode" placeholder="Enter Postcode" name="postcode" required>
                        <br>
                        <label for="dogBreed"><b>Dog Breed</b></label>
                        <br>
                        <input type="dogBreed" placeholder="Enter Dog Breed" name="dogBreed" required>
                        <br>
                        <label for="dogName"><b>Dog Name</b></label>
                        <br>
                        <input type="dogName" placeholder="Enter Dog Name" name="dogName" required>
                        <br>
                        <button type="submit">Sign Up</button>
                    </div>
                </form>
            </p>
        </div>
       
    </body>

    <script src="../public/javascripts/waggScripts.js"></script>

</html>