<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../public/stylesheets/waggStyle.css">
<head>
    <meta 
        charset="UTF-8"/>
    <title>
        Wagg.ly
    </title>
    <meta 
        name="description" 
        content="Profile for Wagg.ly"/>
    </head>

<body>
    <h1>Wagg.ly Profile</h1>
    <nav>
        <u1>
            <li><a href="/">Home</a></li>
            <li><a href="/">Profile</a></li>
            <li><a href="/">Dogs</a></li>
            <li><a href="/">Walks</a></li> 
            <li><a href="loginpage.html">Logout</a></li>           
        </u1>
    </nav>

    <div>
        <h2> Weclome Nameless Walker</h2>

        <h3>
            Walks Timetable
        </h3>
        <p>List days of the week along the top
            Times along the side
            And dogs being walked in the box
            Make the box as big as the time of the walk
            <br>
            Click each box for details such as where to meet/ pickup dogs
        </p>
        
    </div>
</body>

</html>
